
.container {
    position: relative;
    margin-top: 100px;
    height: 600px;
    border: 3px;
    border-style: solid;
    overflow: hidden;
}
.form-select {
    width: 50%;
    display: inline;
}
button {
    width: 100px;
    display: inline;
}
#customFile {
    width: 32%;
    display: inline;
}
.rows-table {
    height:430px;
    overflow: auto;
}
table {
    border: 1;
}
form, .instruction_bpopup{
    width: 50%;
    background-color:rgb(48 101 101 / 70%);
    position: fixed;
    border: solid;
    border-radius: 35px;
    text-align: center;
    display: none;
}
label {
    color: white;
}
.error {
    color: #f5a615;
}
.error-input {
    background-color:rgb(251 164 164 / 70%);
}